@layer base {
  :root {
    --body-bg-color: var(--color-white);
    --vh: 1vh;
    --vw: 1vw;
  }

  *:focus {
    outline: none;
  }

  body {
    font-family: 'Pretendard', sans-serif;
    font-synthesis: none;
    background: var(--body-bg-color);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    position: relative;
  }
}
