@layer utilities {
  .full-height {
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100%;
  }

  .max-w-600 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .content-padding {
    padding: 7% 20px 5% 20px;
  }

  .content-padding-small {
    padding: 0 20px 5% 20px;
  }

  .loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, #fffc62 94%, #0000) top/6px 6px no-repeat,
      conic-gradient(#0000 30%, #fffc62);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }

  .roof-background {
    background: radial-gradient(120% 50% at 50% 50%, #b1b1b1 0%, #4b4b4b 100%);
  }
}
