name: Synchronize to forked repo

on:
  push:
    branches:
      - release

jobs:
  sync:
    name: Sync forked repo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout release
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FORKED_REPO_TOKEN }}
          fetch-depth: 0
          ref: release

      - name: Add remote-url
        run: |
          git remote add forked-repo https://AAminha:${{ secrets.FORKED_REPO_TOKEN }}@github.com/AAminha/Neighbors-dev-Frontend
          git config user.name AAminha
          git config user.email dks4857@gmail.com

      - name: Push changes to forked-repo
        run: |
          git push -f forked-repo release:release

      - name: Clean up
        run: |
          git remote remove forked-repo
